<div>

    <form action="/patient/images/" method="post" enctype="multipart/form-data/*image">

        <input type="file" name="oeil_gauche" id="oeil_gauche" >
        <input type="file" name="oeil_droit" id="oeil_droit">
        <button type="submit"> envoyer</button>
    </form>
</div>

