<main id="main" class="main">

  <div class="pagetitle">
    <h1>Form Elements</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Elements</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="col-lg-4">
          <% if (errors) { %>

            <h6 class="alert-danger"> <%= errors %> </h6>
           
          <% } %>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">General Form Elements</h5>

            <!-- General Form Elements -->
            <form method="post" action="/new_doctor">
              
              <div class="row mb-3">
                <label for="inputMedecin" class="col-sm-3 col-form-label">Nom du médecin</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="medecin">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-3 col-form-label">Mot de passe </label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="password">
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-3 col-form-label">Adresse Mail </label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" name="email">
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-3 col-form-label">Numéro de téléphone </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="number">
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-3 col-form-label">CHoisir l'hopital</label>
                <div class="col-sm-9">
                  <select class="form-select" aria-label="Default select example" name="select">
                    <% rows.forEach(row => { %>
                      <option  selected > <%= row.NOM_HOPITAL %> </option>
                    <% }) %>
                    
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Enregistrer</button>
                  <button type="submit" class="btn btn-danger">Annuler</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>

      <div class="col-lg-6">


      </div>
    </div>
  </section>

</main><!-- End #main -->